@import '../../styles/palette.scss';

.mainView {
  height: 100%;
  width: 100%;
  background: $grayLightest;
  padding: 0 45px;
  overflow: auto;

  .header {
    padding-top: 20px;

    .folderHeader {
      font-size: 35px;
      display: grid;
      grid-template-columns: auto 60px 60px;

      .folderName {
        color: $black;
      }

      .searchField {
        margin-bottom: 40px;
      }

      .action {
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: $primary;
        display: none;
        color: $white;

        &.show {
          display: flex;
        }
      }
    }

    .divider {
      margin: 15px 0;
      border: 1px solid $gray;
      border-radius: 10px;
    }
  }

  .mainContent {

    .folderContents {
      display: flex;
      flex-direction: column;
    }

    .label {
      font-size: 30px;
      color: $grayDark;
    }

    .list {
      overflow: hidden;

      .listScroll {
        display: flex;
        flex-direction: row;
        overflow: auto;

        .card {
          width: 150px;
          height: 200px;
          justify-content: center;
          align-items: center;
          text-align: center;
          border-radius: 10px;
          // background: $grayLight;
          // box-shadow: 0 2px 2px #96a0a7;
          display: flex;
          flex-direction: column;
          position: relative;
          padding: 15px 0;

          .cardActions {
            position: absolute;
            color: $primary;
            top: 10px;
            right: 0;
          }

          .icon {
            font-size: 10rem;
            color: $white;
            height: 120px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .cardFooter {
            color: $grayDark;
            font-weight: bold;
            margin-top: 2px;
          }

          &.fileCard {
            .icon {
              font-size: 8rem;
            }
          }
        }
      }

    }


    .addForm {
      .formCard {
        width: 350px;
        height: 300px;
        background: $grayLight;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 2px 2px #96a0a7;

        form {
          display: flex;
          flex-direction: column;
          height: 100%;
        }

        .input {
          margin-bottom: 20px;
          color: $primary;
        }

        .upload {
          width: fit-content;
        }

        .submit {
          background: $primary;
          color: $white;
          width: min-content;
          align-self: flex-end;
          justify-self: flex-end;
          margin-top: auto;
        }
      }
    }
  }
}