
$primary: #1B53BD;
$primaryLight: #1389D4;
$primaryLightest: #12B3C9;
$primaryDark: #1324D4;
$primaryDarkest: #3412C9;


$secondary: #704D00;
$secondaryLight: #BD8100;
$secondaryLightest: #BD9339;
$secondaryDark: #3D2A00;

$grayDark: #2c3444;
$gray: #989ea9;
$grayDarker: #1b2029;
$grayLight: #b5bfd2;
$grayLightest: #d6dae2;

$black: #262626;
$white: #fdf9f9;